@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

*{ 
  font-family: 'Press Start 2P', cursive;
  margin: 0; 
  padding: 0; 
}

html, body{
  font-family: 'Press Start 2P', cursive;
  overflow: hidden; 
    position: relative;
    background: black;
}

#canvas{ 
    position: relative;
    transition: 0.01s all linear;
    background-color: rgba(255, 0, 0, 0); 
}

#screenRed {
  z-index: 5;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0);
  pointer-events: none;
}


#gameover{
  z-index: 3;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}
  #gameover p{
    position: absolute;
    top: 50%;
    width: 100%;
    color: white;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(-50%);
  }
  #gameover span{
    color: lightgrey;
    font-size: 15px;
    line-height: 35px;
  }
  #gameover.active .gameover-logo{
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    animation: 5s turnred ease-in-out 1s; 
    animation-fill-mode: forwards;
  }
  .restartGame{
    color: white;
    font-size: 20px !important;
    cursor: pointer;
    animation: 1s glowingText ease-in-out infinite; 
  }
#gameover.active{
  display: block;
  pointer-events: auto;
}



#splashscreen{
  z-index: 3;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  pointer-events: none;
}
  #splashscreen p{
    position: relative;
    top: 50%;
    width: 100%;
    color: white;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(-50%);
  }
  #splashscreen span{
    color: lightgrey;
  }
  .logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -120px) rotate(-5deg);
    font-size: 80px !important;
    line-height: 130px !important;
  }
  .startGame{
    cursor: pointer;
    font-size: 17px;
    line-height: 35px !important;
    animation: 1s glowingText ease-in-out infinite;
  }
#splashscreen.active{
  display: block;
  pointer-events: auto;
}



#pausscreen{
  z-index: 99;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
}
  #pausscreen.active{
    display: block;
  }
  .pausscreen-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
    .pausscreen-wrapper p{
      position: relative;
      top: 50%;
      width: 100%;
      color: white;
      font-size: 12px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      transform: translateY(-50%);
    }
    .paused-resume{
      cursor: pointer;
      animation: 1s glowingText ease-in-out infinite;
    }




#gamebar{
  z-index: 2;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 0 20px;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
}
  #gamebar p{
    width: 100%;
    color: white;
    font-size: 20px;
    line-height: 50px;
    font-family: sans-serif;
  }




@keyframes glowingText{
  0%, 100%{
    color: white;
    opacity: 1;
  }
  50%{
    color: lightgrey;
    opacity: 0.5;
  }
}

@keyframes turnred{
  0%{ color: lightgrey; }
  100%{ color: red; }
}

