*{ margin: 0; padding: 0; }
html, 
body{
	background: black;
	color: white;
}

.s1 table{
	width: 90%;
	margin-left: 5%;
	margin-bottom: 20px;
	color: white;
	text-align: center;
	border-collapse: collapse;
}
	.s1 table tr td{
		border: 1px solid white;
		width: 40px;
		height: 40px;
		line-height: 40px;
	}